<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Home">
    <meta name="author" content="Simone Nardella">
    <title>Homepage</title>
    <!-- Bootstrap core CSS -->

  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css"> 
 
    <!-- Custom styles for this template -->
    <link href="/stylesheets/style.css" rel="stylesheet">
    <!-- For Font style -->
    <link rel="stylesheet" href="/stylesheets/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Dosis:300,400,500,600,700,800" rel="stylesheet">
    <!-- Owl Stylesheets -->
    <link rel="stylesheet" href="/stylesheets/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="/stylesheets/owl-carousel/owl.theme.default.min.css">
    <link rel="stylesheet" href="/stylesheets/jquery.fancybox.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/YouTubePopUp.css">
  
</head>

<body>
    <section class="header home-header">
        <%- include('partials/navbar') %>
        <section class="banner">
            <div class="container">
                <div class="banner-content">
                    <div class="owl-carousel owl-theme">
                        <div class="item">
                            <h1>Inizia una nuova<br>avventura</h1>
                            <a href="/percorsi" class="d-grid btn btn-success btn-outline-dark btn-lg custom-btn">Percorsi</a>
                        </div>
                        <div class="item">
                            <h1>Esplora il mondo</h1>
                            <div class="text-end">
                                <a href="/registrazione" class="d-grid btn btn-warning btn-outline-dark btn-lg custom-btn">Accedi o registrati</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>


    <section class="about">
        <div class="container">
            <div class="banner-heading">
                <h2>Su di noi</h2>
                <p class="font-16" style="font-size: 26px;">
                    Esplora le cime, respira l'aria fresca e lasciati incantare dai paesaggi mozzafiato mentre pianifichi la tua avventura di trekking attraverso le montagne.
                </p>   
                <p class="font-16" style="font-size: 26px;">Sia che tu sia un escursionista esperto o un novizio desideroso di scoprire la bellezza selvaggia delle montagne, il nostro sito è il tuo compagno fidato. Dai rifugi accoglienti nascosti tra le vette agli alloggi panoramici con vista mozzafiato, abbiamo una vasta selezione di opzioni e percorsi per ogni tipo di viaggiatore.
                </p>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="about-image">
                        <img src="/images/about-1.jpg" alt="" />
                    </div>
                    <div class="about-inner-content">
                        <img src="" alt="" />
                        <p>
                            Tanti panorami da scoprire
                        </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="about-image">
                        <img src="/images/about-2.jpg" alt="" />
                    </div>
                    <div class="about-inner-content">
                        <img src="" alt="" />
                        <p>
                            tanti obbiettivi da superare
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
<section class="blog">
    <div class="container">
        <div class="banner-heading">
            <h2>
                Percorsi consigliati
            </h2>
            <div class="col-md-12">
                <div class="col-md-4">
                    <div class="content-div text-center">
                        <div class="blog-inner">
                            <div class="blog-img">
                                <a class="blog-img-link" href="/sentiero/via-degli-dei" aria-label="Via degli Dei: apri scheda sentiero">
                                    <img class="img-responsive" src="/images/Via degli Dei.jpg" alt="Paesaggio sul sentiero Via degli Dei" />
                                    <div class="img-border" aria-hidden="true"></div>
                                </a>
                            </div>
                            <div class="blog-text">
                                <p class="blog-heading">
                                   Via degli dei
                                </p>
                                <p class="blog-textual-cont">
                                    Un'antica strada escursionistica attraverso i monti dell'Appennino, dalla Toscana all'Emilia-Romagna, offrendo panorami mozzafiato e avventure memorabili.                                </p>
                                <a class="read-more" href="/sentiero/via-degli-dei">Per saperne di più</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="content-div text-center">
                        <div class="blog-inner">
                            <div class="blog-img">
                                <a class="blog-img-link" href="/sentiero/cammino-dei-briganti" aria-label="Cammino dei Briganti: apri scheda sentiero">
                                    <img class="img-responsive" src="/images/camminoDeiBriganti.jpg" alt="Paesaggio sul Cammino dei Briganti" />
                                    <div class="img-border" aria-hidden="true"></div>
                                </a>
                            </div>
                            <div class="blog-text">
                                <p class="blog-heading">
                                    Cammino dei Briganti
                                </p>
                                <p class="blog-textual-cont">
                                    Un anello di oltre 100 km tra Abruzzo e Lazio, tra borghi in pietra, mulattiere storiche e paesaggi appenninici autentici.                                </p>
                                <a class="read-more" href="/sentiero/cammino-dei-briganti">Per saperne di più</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="content-div text-center">
                        <div class="blog-inner">
                            <div class="blog-img">
                                <a class="blog-img-link" href="/sentiero/cammino-grande-di-celestino" aria-label="Cammino Grande di Celestino: apri scheda sentiero">
                                    <img class="img-responsive" src="/images/Cammino Grande di Celestino.jpg" alt="Paesaggio sul Cammino Grande di Celestino" />
                                    <div class="img-border" aria-hidden="true"></div>
                                </a>
                            </div>
                            <div class="blog-text">
                                <p class="blog-heading">
                                    Cammino Grande di Celestino
                                </p>
                                <p class="blog-textual-cont">
                                    Un percorso spirituale attraverso l'Italia meridionale, seguendo le orme di San Celestino V, offrendo riflessione, storia e bellezze naturali.                                </p>
                                <a class="read-more" href="/sentiero/cammino-grande-di-celestino">Per saperne di più</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




    <section class="gallery">
        <div class="container">
            <div class="banner-heading">
                <h2>
                    Galleria
                </h2>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-3 col-xs-6">
                        <div class="content-div text-center">
                            <div class="gallery-image">
                                <div class="gallery-overlay">
                                    <a href="/sentiero/via-degli-dei"> <i class="fa fa-link" aria-hidden="true"></i></a>
                                </div>
                                <img class="img-responsive" src="/images/Via degli Dei imm-1.jpg" alt="" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <div class="content-div text-center">
                            <div class="gallery-image">
                                <div class="gallery-overlay">
                                    <a href="/sentiero/cammino-grande-di-celestino"> <i class="fa fa-link" aria-hidden="true"></i></a>
                                </div>
                                <img class="img-responsive" src="/images/Cammino Grande di Celestino-imm1.jpg" alt="" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <div class="content-div text-center">
                            <div class="gallery-image">
                                <div class="gallery-overlay">
                                    <a href="/sentiero/cammino-dei-briganti"> <i class="fa fa-link" aria-hidden="true"></i></a>
                                </div>
                                <img class="img-responsive" src="/images/camminoDeiBriganti.jpg" alt="" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <div class="content-div text-center">
                            <div class="gallery-image">
                                <div class="gallery-overlay">
                                    <a href="/sentiero/via-degli-dei"> <i class="fa fa-link" aria-hidden="true"></i></a>
                                </div>
                                <img class="img-responsive" src="/images/Via degli Dei imm-3.jpg" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">

                    <div class="col-md-3 col-xs-6">
                        <div class="content-div text-center">
                            <div class="gallery-image-2">
                                <div class="gallery-overlay">
                                    <a href="/sentiero/via-degli-dei"> <i class="fa fa-link" aria-hidden="true"></i></a>
                                </div>
                                <img class="img-responsive" src="/images/Via degli Dei imm-2.jpg" alt="" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <div class="content-div text-center">
                            <div class="gallery-image-2">
                                <div class="gallery-overlay">
                                    <a href="/sentiero/cammino-dei-briganti"> <i class="fa fa-link" aria-hidden="true"></i></a>
                                </div>
                                <img class="img-responsive" src="/images/camminoDeiBriganti.jpg" alt="" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <div class="content-div text-center">
                            <div class="gallery-image-2">
                                <div class="gallery-overlay">
                                    <a href="/sentiero/cammino-grande-di-celestino"> <i class="fa fa-link" aria-hidden="true"></i></a>
                                </div>
                                <img class="img-responsive" src="/images/Cammino Grande di Celestino-imm2.jpg" alt="" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <div class="content-div text-center">
                            <div class="gallery-image-2">
                                <div class="gallery-overlay">
                                    <a href="/sentiero/cammino-grande-di-celestino"> <i class="fa fa-link" aria-hidden="true"></i></a>

                                </div>
                                <img class="img-responsive" src="/images/Cammino Grande di Celestino-imm3.jpg" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section class="challenge">
        <div class="container">
            <div class="heading">
                <h2>
                    Se non ti mette alla <span>Prova</span> non ti <span>Cambia</span> 
                </h2>
            </div>
            <div class="challenge-text">
                <p class="font-16">
                    iscriviti alla nostra Comunity!
                </p>
            </div>
            <div class="center-btn">
                <a href="/registrazione?form=register" class="btn btn-warning btn-outline-dark btn-lg">Unisciti a noi</a>
            </div>
        </div>
    </section>
   
    <%- include('partials/footer') %>

    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/owl-carousel/owl.carousel.min.js"></script>
    <script>
        $(document).ready(function() {
            var owl = $('.owl-carousel');
            owl.owlCarousel({
                margin: 10,
                nav: true,
                loop: true,
                responsive: {
                    0: {
                        items: 1
                    },
                    600: {
                        items: 1
                    },
                    1000: {
                        items: 1
                    }
                }
            })
        })
    </script>
    <script type="text/javascript">
        $("[data-fancybox]").fancybox({
            // Options will go here
        });
    </script>
    <script>
    jQuery(function(){
	jQuery("a#video").YouTubePopUp();
}) 

</script>

</body>

</html>