<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Homepage</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    
    <!-- Custom styles for this template -->
    <link href="/stylesheets/style.css" rel="stylesheet">
    <!-- For Font style -->
    <link rel="stylesheet" href="/stylesheets/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Dosis:300,400,500,600,700,800" rel="stylesheet">
    <!-- Owl Stylesheets -->
    <link rel="stylesheet" href="/stylesheets/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="/stylesheets/owl-carousel/owl.theme.default.min.css">
    <link rel="stylesheet" href="/stylesheets/jquery.fancybox.min.css">

<!-- la mia stylesheet-->
    <link rel="stylesheet" href="/stylesheets/gallery.css">
</head>

<body>
    <section class="header" id="header">
        <div class="navbar-option">
            <div class="container">
                <nav class="navbar navbar-default">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>                        
                        </button>
                        <a class="navbar-brand" href="/"><img src="/images/logo.png" alt="" /></a>
                    </div>
                    <div class="collapse navbar-collapse" id="myNavbar">
                        <ul class="nav navbar-nav navbar-left">
                            <li><a href="/">Home</a></li>
                            <li><a href="/percorsi">Percorsi</a></li>
                            <li><a href="/registrazione">Accedi o registrati</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </section>
    <section class="gallery">
       
            <div class="container">
                
                
                    <h2>
                        Avventure <span>epiche</span> ti attendono!
                    </h2>
                    <h4>
                    Scopri il tuo sentiero ideale e immergiti nella natura selvaggia:
                    </h4>
                
                <div class="images">
                    <div class="row">
                        <div class="col-md-4">
                            <a href="/sentiero/via-degli-dei">
                                <div class="image-container">
                                    <img src="/images/Via degli Dei_2.jpg" alt="" />
                                    <div class="overlay">
                                        <div class="overlay-text">Via degli Dei</div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a href="/sentiero/via-degli-dei">
                                <div class="image-container">
                                    <img src="/images/Kungsleden_2.jpg" alt="" />
                                    <div class="overlay">
                                        <div class="overlay-text">Kungsleden</div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a href="/sentiero/via-degli-dei">
                                <div class="image-container">
                                    <img src="/images/Alta via Dolomitica.jpg" alt="" />
                                    <div class="overlay">
                                        <div class="overlay-text">Alta via dolomitica </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                
                    
            <div class="images">
                <div class="row">
                    <div class="col-md-4">
                        <a href="/sentiero/via-degli-dei">
                            <div class="image-container">
                                <img src="/images/GrandeAnelloDeiSibillini.jpg" alt="" />
                                <div class="overlay">
                                    <div class="overlay-text">Grande anello dei Sibillini</div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="/sentiero/via-degli-dei">
                            <div class="image-container">
                                <img src="/images/magnaViaFrancigena.jpg" alt="" />
                                <div class="overlay">
                                    <div class="overlay-text">Magna via Francigena</div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="/sentiero/via-degli-dei">
                            <div class="image-container">
                                <img src="/images/camminoDeiBriganti.jpg" alt="" />
                                <div class="overlay">
                                    <div class="overlay-text">Cammino dei Briganti</div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div> 
            
        </div>
    </section>








    <section class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-6">
                        <div class="footer-content">
                            <div class="footer-logo">
                                <img src="/images/logo.png" alt="" />
                            </div>
                            <div class="footer-text">
                                <p>
                                    Per qualsiasi problema contatta la nostra mail di supporto, o chiama il centro assistenza:
                                </p>
                            </div>
                            <div class="footer-address">
                                <ul>
                                    <li><i class="fa fa-map-marker" aria-hidden="true"></i> Università del Piemonte Orientale, Vercelli, Italia
                                    </li>

                                    <li>
                                        <i class="fa fa-phone" aria-hidden="true"></i> +(39) 112

                                    </li>
                                    <li>
                                        <i class="fa fa-envelope" aria-hidden="true"></i> 20051048@studenti.uniupo.it

                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/owl-carousel/owl.carousel.min.js"></script>    
    <script>
        $(document).ready(function() {
            var owl = $('.owl-carousel');
            owl.owlCarousel({
                margin: 10,
                nav: true,
                loop: true,
                responsive: {
                    0: {
                        items: 1
                    },
                    600: {
                        items: 1
                    },
                    1000: {
                        items: 1
                    }
                }
            })
        })
    </script>
    <script type="text/javascript">
        $("[data-fancybox]").fancybox({
            // Options will go here
        });
    </script>
</body>

</html>