<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>:: SHG_Hotel ::</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">

    <!-- Google font here -->
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Dosis:300,400,500,600,700,800" rel="stylesheet">
    <!-- Latest compiled and minified CSS -->
    <link rel='stylesheet' type='text/css' href="/stylesheets/bootstrap.min.css">

    <!--  Font Awesome CSS -->
    <link rel='stylesheet' type='text/css' href="/stylesheets/font-awesome.min.css">

    <link rel='stylesheet' type='text/css' href="/stylesheets/style.css">

    <!-- Custom CSS -->
    <link rel='stylesheet' type='text/css' href="/stylesheets/blog-style.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>

    <link rel='stylesheet' type='text/css' href="/stylesheets/singoloHotel.css">
    <!--icone WSS-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--icone Google-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body class="single-page">

    <section class="header" id="header">
        <div class="navbar-option">
            <div class="container">
                <nav class="navbar navbar-default">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/"><img src="/images/logo.png" alt="" /></a>
                    </div>
                    <div class="collapse navbar-collapse" id="myNavbar">
                        <ul class="nav navbar-nav navbar-left">
                            <li><a href="/">Home</a></li>
                            <li><a href="/percorsi">Percorsi</a></li>
                            <li><a href="/registrazione">Accedi o registrati</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </section>
    <!-- Middle Wrapper Start Here-->
    <section class="blog_wrapper">

        <div class="container">
            <div class="heading-top">
                <h1>SHG Hotel</h1>
                <p>
                    Benvenuto
                </p>
            </div>
            <div class="row">

                <div class="col-md-9 col-sm-8">
                    <div class="post_block">
                        <div class="col-md-12">
                            <img src="/images/BadoloHotel1.jpg" alt="" style="width: 100%; height: auto;">
                            <div class="single-blog-content">
                                <h2>SHG Hotel</h2>
                                <p><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                                        <path
                                            d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6" />
                                    </svg><a href="https://maps.app.goo.gl/6dpcDZZBR3tUHVTn6">Via Risorgimento 186, 40069 Zola Predosa, Italia</a><br>
                                    L'SHG Hotel Bologna ha sede nei pressi di grossi centri commerciali e di alcune
                                    fermate degli autobus pubblici.
                                    In albergo sono disponibili un Internet point, il WiFi gratuito e 3 sale riunioni.
                                    L'hotel allestisce un buffet per la colazione, e ospita un ristorante e un bar, che
                                    serve cocktail internazionali.
                                    Le coppie apprezzano molto la posizione: l'hanno valutata 8,1 per un viaggio a due.
                                </p>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>


                    <!--author Section-->
                    <div class="author_block">
                        <h2>Host</h2>
                        <div class="col-md-2 col-sm-2 "> <img src="/images/Host1.jpg"></div>
                        <div class="col-md-10 col-sm-10 no-padding">
                            <h3>Matteo Barbieri</h3>
                            <span>3 anni di esperienza come host</span>
                            <p>Ciao, sono Matteo Barbieri, il proprietario dell'SHG Hotel Bologna. Con oltre 15 anni di
                                esperienza nel settore alberghiero, ho sempre avuto una passione per l'ospitalità. Nato
                                e cresciuto a Bologna, amo la mia città e desidero condividere il suo fascino con i
                                visitatori.</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>

                    <!--Related Post-->
                    <!--
                    <div class="related_post">
                        <h2>Related Post</h2>
                        <div class="col-md-4 col-sm-4">
                            <img src="/images/blog/related+post.jpg">
                            <h3>heading goes here</h3>
                            <a href=""><i class="fa fa-comments"></i> comments </a>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <img src="/images/blog/related+post.jpg">
                            <h3>heading goes here</h3>
                            <a href=""><i class="fa fa-comments"></i> comments </a>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <img src="/images/blog/related+post.jpg">
                            <h3>heading goes here</h3>
                            <a href=""><i class="fa fa-comments"></i> comments </a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    -->

                    <!--Comments Section-->
                    <div class="comments">
                        <h2>3 Domande</h2>

                        <div class="comment_block">
                            <div class="col-md-10 col-sm-10">
                                <div class=" col-md-2 col-sm-2"><img src="/images/fotoProfiloAnonima.jpg"></div>
                                <div class="col-md-10 col-sm-10 no-padding">
                                    <h3>Giorgio (Anonimo)</h3>
                                    <span>25 dicembre 2023 12:35</span>
                                    <p> Buongiorno. Volevo chiedere se ci fossero parcheggi gratuiti in zona
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-2"><a href="" class="readmore">Rispondi</a></div>
                            <div class="clearfix"></div>
                        </div>

                        <div class="comment_block col-md-offset-1">
                            <div class="col-md-10 col-sm-10">
                                <div class=" col-md-2 col-sm-2"><img src="/images/Host1.jpg"></div>
                                <div class="col-md-10 col-sm-10 no-padding">
                                    <h3>Matteo Babrieri</h3>
                                    <span>30 dicembre 2023 17:24</span>
                                    <p> Certamente. A 5 minuti a piedi dalla struttura vi è un comodo e ampio parcheggio
                                        gratuito. È chiuso solo di domenica per il mercato cittadino.
                                    </p>

                                </div>
                            </div>
                            <div class="col-md-2 col-sm-2"><a href="" class="readmore">Rispondi</a></div>
                            <div class="clearfix"></div>
                        </div>


                        <div class="comment_block">
                            <div class="col-md-10 col-sm-10">
                                <div class=" col-md-2 col-sm-2"><img src="/images/fotoProfilo1.jpg"></div>
                                <div class="col-md-10 col-sm-10 no-padding">
                                    <h3>Vincenzo Russotto</h3>
                                    <span>7 marzo 2024 9:56</span>
                                    <p> È inclusa la colazione?
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-2"><a href="" class="readmore">Rispondi</a></div>
                            <div class="clearfix"></div>
                        </div>


                        <!--Reply Section-->
                        <div class="leave_reply">
                            <h2>Fai una domanda</h2>
                            <form>
                                <div class="form-group col-md-6 col-sm-6">
                                    <input class="form-control" placeholder="Nome*" name="" type="text">
                                </div>
                                <div class="form-group col-md-6 col-sm-6">
                                    <input class="form-control" placeholder="Email*" name="" type="text">
                                </div>
                                <div class="form-group col-md-12 col-sm-12">
                                    <textarea class="form-control" rows="6"
                                        placeholder="corpo (es. c'è il servizio in camera?)" name=""></textarea>
                                </div>
                                <div class="form-group col-md-12 col-sm-12">
                                    <button type="submit" class="btn btn-primary">Invia domanda</button>
                                </div>
                            </form>

                        </div>


                        <div class="clearfix"></div>
                    </div>


                </div>

                <!--Sidebar Start Here-->
                <div class="col-md-3 col-sm-4">
                    <div class="sidebar">
                        <div class="widget">
                            <h2 class="heading">Servizi</h2>
                            <ul>
                                <li><a><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" class="icone-side"
                                            fill="currentColor" class="bi bi-bus-front" viewBox="0 0 16 16">
                                            <path
                                                d="M5 11a1 1 0 1 1-2 0 1 1 0 0 1 2 0m8 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0m-6-1a1 1 0 1 0 0 2h2a1 1 0 1 0 0-2zm1-6c-1.876 0-3.426.109-4.552.226A.5.5 0 0 0 3 4.723v3.554a.5.5 0 0 0 .448.497C4.574 8.891 6.124 9 8 9s3.426-.109 4.552-.226A.5.5 0 0 0 13 8.277V4.723a.5.5 0 0 0-.448-.497A44 44 0 0 0 8 4m0-1c-1.837 0-3.353.107-4.448.22a.5.5 0 1 1-.104-.994A44 44 0 0 1 8 2c1.876 0 3.426.109 4.552.226a.5.5 0 1 1-.104.994A43 43 0 0 0 8 3" />
                                            <path
                                                d="M15 8a1 1 0 0 0 1-1V5a1 1 0 0 0-1-1V2.64c0-1.188-.845-2.232-2.064-2.372A44 44 0 0 0 8 0C5.9 0 4.208.136 3.064.268 1.845.408 1 1.452 1 2.64V4a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1v3.5c0 .818.393 1.544 1 2v2a.5.5 0 0 0 .5.5h2a.5.5 0 0 0 .5-.5V14h6v1.5a.5.5 0 0 0 .5.5h2a.5.5 0 0 0 .5-.5v-2c.607-.456 1-1.182 1-2zM8 1c2.056 0 3.71.134 4.822.261.676.078 1.178.66 1.178 1.379v8.86a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 11.5V2.64c0-.72.502-1.301 1.178-1.379A43 43 0 0 1 8 1" />
                                        </svg>Navetta aeroportuale</a></li>

                                <li><a><i class="material-icons icone-side">&#xeb4a;</i>
                                        Camere non fumatori</a></li>
                                <li><a><i class="material-icons icone-side">&#xe556;</i>
                                        Ristorante</a></li>
                                <li><a><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" class="icone-side"
                                            fill="currentColor" class="bi bi-person-wheelchair" viewBox="0 0 16 16">
                                            <path
                                                d="M12 3a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3m-.663 2.146a1.5 1.5 0 0 0-.47-2.115l-2.5-1.508a1.5 1.5 0 0 0-1.676.086l-2.329 1.75a.866.866 0 0 0 1.051 1.375L7.361 3.37l.922.71-2.038 2.445A4.73 4.73 0 0 0 2.628 7.67l1.064 1.065a3.25 3.25 0 0 1 4.574 4.574l1.064 1.063a4.73 4.73 0 0 0 1.09-3.998l1.043-.292-.187 2.991a.872.872 0 1 0 1.741.098l.206-4.121A1 1 0 0 0 12.224 8h-2.79zM3.023 9.48a3.25 3.25 0 0 0 4.496 4.496l1.077 1.077a4.75 4.75 0 0 1-6.65-6.65z" />
                                        </svg>Camere/strutture per ospiti disabili</a></li>
                                <li><a><i class="material-icons icone-side">&#xeb49;</i>
                                        Servizio in camera</a></li>
                                <li><a><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" class="icone-side"
                                            fill="currentColor" class="bi bi-wifi" viewBox="0 0 16 16">
                                            <path
                                                d="M15.384 6.115a.485.485 0 0 0-.047-.736A12.44 12.44 0 0 0 8 3C5.259 3 2.723 3.882.663 5.379a.485.485 0 0 0-.048.736.52.52 0 0 0 .668.05A11.45 11.45 0 0 1 8 4c2.507 0 4.827.802 6.716 2.164.205.148.49.13.668-.049" />
                                            <path
                                                d="M13.229 8.271a.482.482 0 0 0-.063-.745A9.46 9.46 0 0 0 8 6c-1.905 0-3.68.56-5.166 1.526a.48.48 0 0 0-.063.745.525.525 0 0 0 .652.065A8.46 8.46 0 0 1 8 7a8.46 8.46 0 0 1 4.576 1.336c.206.132.48.108.653-.065m-2.183 2.183c.226-.226.185-.605-.1-.75A6.5 6.5 0 0 0 8 9c-1.06 0-2.062.254-2.946.704-.285.145-.326.524-.1.75l.015.015c.16.16.407.19.611.09A5.5 5.5 0 0 1 8 10c.868 0 1.69.201 2.42.56.203.1.45.07.61-.091zM9.06 12.44c.196-.196.198-.52-.04-.66A2 2 0 0 0 8 11.5a2 2 0 0 0-1.02.28c-.238.14-.236.464-.04.66l.706.706a.5.5 0 0 0 .707 0l.707-.707z" />
                                        </svg>Connessione WiFi gratuita</a></li>
                                <li><a><i style="font-size:18px" class="fa icone-side">&#xf0c0;</i>
                                        Camere familiari</a></li>
                                <li><a><i class="material-icons icone-side">&#xe540;</i>
                                        Bar</a></li>
                                <li><a><i class="material-icons icone-side">&#xe541;</i>
                                        Colazione</a></li>
                            </ul>
                            <section class="col-md-12"
                                style=" background-color: rgb(121, 199, 223); padding-bottom: 30px;">
                                <div class="reservation-form">
                                    <h3>Prenota il tuo soggiorno</h3>
                                    <form id="reservation" action="" method="post">
                                        <div class="form-group">
                                            <label for="data">Check-in:</label>
                                            <input id="data" class="form-control" placeholder="Seleziona la data"
                                                type="date" tabindex="1" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="data">Check-out:</label>
                                            <input id="data" class="form-control" placeholder="Seleziona la data"
                                                type="date" tabindex="1" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="ospiti">Numero di ospiti:</label>
                                            <input id="ospiti" class="form-control" placeholder="Inserisci il numero"
                                                type="number" min="1" max="10" tabindex="2" required>
                                        </div>
                                        <button type="submit" id="reservation-submit" class="btn btn-primary"
                                            data-submit="...Sending">Prenota ora</button>
                                    </form>
                                </div>
                            </section>

                        </div>

                    </div>
                </div>
                <!--Sidebar End Here-->

            </div>

        </div>
        <div class="clearfix"></div>
    </section>
    <!-- Middle Wrapper End Here-->
    <section class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-6">
                        <div class="footer-content">
                            <div class="footer-logo">
                                <img src="/images/logo.png" alt="" />
                            </div>
                            <div class="footer-text">
                                <p>
                                    Per qualsiasi problema contatta la nostra mail di supporto, o chiama il centro
                                    assistenza:
                                </p>
                            </div>
                            <div class="footer-address">
                                <ul>
                                    <li><i class="fa fa-map-marker" aria-hidden="true"></i> Università del Piemonte
                                        Orientale, Vercelli, Italia
                                    </li>

                                    <li>
                                        <i class="fa fa-phone" aria-hidden="true"></i> +(39) 112

                                    </li>
                                    <li>
                                        <i class="fa fa-envelope" aria-hidden="true"></i> 20051048@studenti.uniupo.it

                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <!--PRE LOADER HERE-->
    <div id="pre-loader">
        <div class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
    </div>

    <!-- Custom js -->
    <script src="/javascripts/custom.js"></script>

</body>

</html>