<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>:: Blog ::</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">


    <!-- Google font here -->
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Dosis:300,400,500,600,700,800" rel="stylesheet">
    <!-- Latest compiled and minified CSS -->
    <link rel='stylesheet' type='text/css' href="/stylesheets/bootstrap.min.css">

    <!--  Font Awesome CSS -->
    <link rel='stylesheet' type='text/css' href="/stylesheets/font-awesome.min.css">


    <link rel='stylesheet' type='text/css' href="/stylesheets/style.css">
    <!-- Custom CSS -->
    <link rel='stylesheet' type='text/css' href="/stylesheets/blog-style.css">
</head>

<body>
    <section class="header" id="header">
        <div class="navbar-option">
            <div class="container">
                <nav class="navbar navbar-default">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/"><img src="/images/logo.png" alt="" /></a>
                    </div>
                    <div class="collapse navbar-collapse" id="myNavbar">
                        <ul class="nav navbar-nav navbar-left">
                            <li><a href="/">Home</a></li>
                            <li><a href="/percorsi">Percorsi</a></li>
                            <li><a href="/registrazione">Accedi o registrati</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </section>
    <!-- Middle Wrapper Start Here-->

    <section class="blog_wrapper">

        <div class="container">
            <div class="heading-top">
                <h1>Strutture</h1>
                <p>
                    lista delle strutture convenzionate
                </p>
            </div>
            <div class="row">
                <div class="col-md-9 col-sm-8">
                    <div class="post_block">
                        <div class="col-md-12">
                            <div class="col-md-5">
                                <img src="/images/BadoloHotel1.jpg" alt="">
                            </div>
                            <div class="col-md-7">
                                <h2>SHG Hotel</h2>

                                <p>L'SHG Hotel Bologna ha sede nei pressi di grossi centri commerciali e di alcune
                                    fermate degli autobus pubblici.
                                    In albergo sono disponibili un Internet point, il WiFi gratuito e 3 sale riunioni.
                                    L'hotel allestisce un buffet per la colazione, e ospita un ristorante e un bar, che
                                    serve cocktail internazionali.
                                    Le coppie apprezzano molto la posizione: l'hanno valutata 8,1 per un viaggio a due.
                                </p>
                               

                                <a href="/struttura/shg-hotel" class="read_more">Per saperne di più</a>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>


                    <div class="post_block">
                        <div class="col-md-12">
                            <div class="col-md-5">
                                <img src="/images/ViaDegliDeiHotel2.jpg" alt="">
                            </div>
                            <div class="col-md-7">
                                <h2>Appartamento degli Dei (affittamere)</h2>

                                <p>L’Appartamento Degli Dei (Affittacamere) vi attende a Madonna dei Fornelli. L’offerta
                                    comprende sistemazioni familiari e una terrazza. Come ospiti della struttura,
                                    potrete ammirare la vista montagna.

                                    Caratterizzate in alcuni casi da un balcone, le camere dispongono di WiFi gratuito e
                                    bagno in comune con bidet e asciugacapelli. Le camere dell’Appartamento Degli Dei
                                    (Affittacamere) sono dotate di biancheria da letto e da bagno.

                                    Al mattino gusterete una colazione italiana.

                                    L'Appartamento Degli Dei (Affittacamere) dista 49 km da Bologna e 40 km da Imola.
                                    Alloggerete a 48 km dall’Aeroporto di Bologna, lo scalo più vicino.

                                    Le coppie apprezzano molto la posizione: l'hanno valutata 9,3 per un viaggio a due.
                                </p>
                                <a href="/struttura/shg-hotel" class="read_more">Per saperne di più</a>

                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>


                    <div class="post_block">
                        <div class="col-md-12">
                            <div class="col-md-5">
                                <img src="/images/ViaDegliDeiHotel3.jpg" alt="">
                            </div>
                            <div class="col-md-7">
                                <h2>Residence Mugello Resort</h2>

                                <p>La storica Firenze si trova a 30 km dal residence. I treni per la città partono da
                                    Borgo San Lorenzo, a 10 minuti di auto. Tutti i colorati appartamenti del Mugello
                                    Resort sono dotati di angolo cottura, frigorifero e una confortevole area soggiorno.
                                    Ogni stanza dispone di un ingresso privato e vista sul giardino. Troverete anche
                                    un'ampia zona giorno in comune. Troverete un’ampia scelta di ristoranti e pizzerie
                                    pochi passi di distanza, nel centro di Scarperia. Il Poggio dei Medici Golf Club si
                                    trova a 1 km di distanza, mentre il Barberino Designer Outlet è raggiungibile in 15
                                    minuti di auto. Le coppie apprezzano molto la posizione: l'hanno valutata 8,6 per un
                                    viaggio a due.</p>
                                    <a href="/struttura/shg-hotel" class="read_more">Per saperne di più</a>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="pagination-container text-center">
                        <ul class="pagination">
                            <li class="previous"><a href="#">Previous</a></li>
                            <li><a href="#">1</a></li>
                            <li class="active"><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li class="next"><a href="#">Next</a></li>
                        </ul>
                    </div>
                </div>

                <!--Sidebar Start Here-->
                <div class="col-md-3 col-sm-4">
                    <div class="sidebar">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search">
                            <button type="submit" class="submit">Go</button>
                        </div>

                        <div class="widget">
                            <h2 class="heading">Città</h2>

                            <ul>
                                <li><a href="#">Badolo</a></li>
                                <li><a href="#">Madonna dei Fornelli</a></li>
                                <li><a href="#">Passo della Futa</a></li>
                                <li><a href="#">San Pietro a Sieve</a></li>
                            </ul>

                        </div>


                        <div class="widget">
                            <h2 class="heading">Servizi</h2>

                            <ul>
                                <li><a href="#">Connessione WiFi gratuita</a></li>
                                <li><a href="#">Camere non fumatori</a></li>
                                <li><a href="#">Animali ammessi</a></li>
                                <li><a href="#">Ristorante</a></li>
                            </ul>

                        </div>


                        <div class="widget">
                            <h2 class="heading">Voti</h2>

                            <ul>
                                <li><a href="#">1 stella</a></li>
                                <li><a href="#">2 stelle</a></li>
                                <li><a href="#">3 stelle</a></li>
                                <li><a href="#">4 stelle</a></li>
                            </ul>

                        </div>


                    </div>
                </div>
                <!--Sidebar End Here-->

            </div>
        </div>
        <div class="clearfix"></div>
    </section>

    <!-- Middle Wrapper End Here-->

    <section class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-6">
                        <div class="footer-content">
                            <div class="footer-logo">
                                <img src="/images/logo.png" alt="" />
                            </div>
                            <div class="footer-text">
                                <p>
                                    Per qualsiasi problema contatta la nostra mail di supporto, o chiama il centro
                                    assistenza:
                                </p>
                            </div>
                            <div class="footer-address">
                                <ul>
                                    <li><i class="fa fa-map-marker" aria-hidden="true"></i> Università del Piemonte
                                        Orientale, Vercelli, Italia
                                    </li>

                                    <li>
                                        <i class="fa fa-phone" aria-hidden="true"></i> +(39) 112

                                    </li>
                                    <li>
                                        <i class="fa fa-envelope" aria-hidden="true"></i> 20051048@studenti.uniupo.it

                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>