<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Simone Nardella">
    <title>Homepage</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link href="/stylesheets/style.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Dosis:300,400,500,600,700,800" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="/stylesheets/owl-carousel/owl.theme.default.min.css">
    <link rel="stylesheet" href="/stylesheets/sentiero.css">
   
</head>

<body>
    <section class="header" id="header">
        <div class="navbar-option">
            <div class="container">
                <nav class="navbar navbar-default">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/"><img src="/images/logo.png" alt="" /></a>
                    </div>
                    <div class="collapse navbar-collapse" id="myNavbar">
                        <ul class="nav navbar-nav navbar-left">
                            <li><a href="/">Home</a></li>
                            <li><a href="/percorsi">Percorsi</a></li>
                            <li><a href="/registrazione">Accedi o registrati</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </section>

    <section class="trails">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <div class="accordion1">
                        <div class="banner-heading">
                            <h2>Tappe</h2>
                        </div>
                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingOne">
                                    <h4 class="panel-title">
                                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            Sezione 1: da Bologna a Badolo
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                    <div class="panel-body">
                                        <div class='panel-pic'>
                                            <p>
                                            <h3><strong>Bologna - Casalecchio di Reno - Sasso Marconi - Badolo</strong><br></h3>
                                            <h4> <strong>Lunghezza</strong>: 21.30 km</h4>
                                            <h4><strong>Dislivello</strong> +817 m; -515 m</h4>
                                            <h4><strong> Tempo:</strong> 6.50 ore</h4>
                                            <h4> Dalla stazione FS di Bologna si imbocca Via Indipendenza e si arriva in Piazza Maggiore, punto d’inizio della Via degli Dei. Proseguendo per Via d'Azeglio, Via Farini, e Via Collegio di Spagna, si raggiunge Via Saragozza per acquistare il pranzo al sacco.<br>
                                                Dal Meloncello si percorre il portico fino al Santuario di San Luca. Proseguendo lungo la riva destra del fiume Reno, si incontrano i cartelli della Via degli Dei e del sentiero CAI 112.<br>
                                                Si raggiunge l’Oasi Naturalistica di San Gherardo (con fontanella d'acqua) presso Palazzo de’ Rossi, ideale per birdwatching e trekking. Superata l’oasi, si continua fino al bivio Sasso/Pontecchio e si prende verso Sasso. Da lì, risalendo per Via Vizzano e le “Ganzole” (CAI VD), si arriva a Sasso Marconi o si prosegue per Badolo.<br>
                                                Ai Prati di Mugnano, si segue il sentiero CAI 122 VD, svoltando a sinistra prima del quadrivio de la Commenda. Si prosegue su Via delle Orchidee e la Provinciale di Badolo, passando per il Giardino Botanico Nova Arbora e Via delle Valli fino a Badolo.</h4>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingTwo">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                            Sezione 2: da Badolo a Madonna dei Fornelli
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                    <div class="panel-body">
                                        <div class='panel-pic'>
                                            <p>
                                            <h3><strong>Badolo - Brento - Monzuno - Madonna dei Fornelli</strong></h3>
                                            <h4><strong>Lunghezza:</strong> 28 km</h4>
                                            <h4><strong>Dislivello:</strong> +1460 m; -1038 m</h4>
                                            <h4><strong>Tempo:</strong> 9.50 ore</h4>
                                            <h4>Percorrendo Via delle Valli, il sentiero passa attraverso boschi di quercioli e roverelle intorno a Monte del Frate. Lungo il percorso, si incontra il Centro Tutela e Ricerca Fauna Esotica e Selvatica – Monte Adone, dove volontari si occupano degli animali bisognosi.<br>
                                                Dopo un bivio, si prosegue su una comoda stradella fino all'Agriturismo Piccola Raieda, quindi si inizia la salita di Monte Adone, da cui si gode di un bellissimo panorama.<br>
                                                Scendendo da Monte Adone, si arriva a Brento, dove ci sono servizi, bar e una trattoria per riposarsi prima di continuare verso Monterumici e Monzuno. Alcuni tratti tra Monterumici e Monzuno sono in fase di sistemazione, ma il sentiero è comunque percorribile.<br>
                                                Arrivati a Monzuno, si prosegue verso Madonna dei Fornelli su strada asfaltata, superando il bivio per Loiano. Dopo i campi sportivi, si prende una larga carrareccia in salita fino alla località "Campagne", dove si segue il percorso CAI 019 – VD attraverso un bosco di castagni fino al ripetitore Telecom. Da qui, si continua su strada sterrata fino alle case di Le Croci e poi si sale al Monte Galletto, arrivando infine a Madonna dei Fornelli.</h4>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingThree">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                            Sezione 3: da Madonna dei Fornelli al Passo della Futa
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                    <div class="panel-body">
                                        <div class='panel-pic'>
                                            <p>
                                            <h3><strong>Madonna dei Fornelli - Passo della Futa</strong></h3>
                                            <h4><strong>Lunghezza:</strong> 17.70 km</h4>
                                            <h4><strong>Dislivello:</strong> +742 m; -441 m</h4>
                                            <h4><strong>Tempo:</strong> 5.50 ore</h4>
                                            <h4>Da Madonna dei Fornelli, si segue il percorso fino ad arrivare al Passo della Futa, dove si può visitare il Cimitero Militare Germanico. Il sentiero passa attraverso antichi boschi e offre panorami spettacolari della regione circostante. Lungo il percorso, si incontrano piccoli borghi e punti di interesse storico, rendendo questa tappa ricca di scoperte e bellezze naturali.</h4>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingFour">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                            Sezione 4: da Passo della Futa a San Piero a Sieve
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                                    <div class="panel-body">
                                        <div class='panel-pic'>
                                            <p>
                                            <h3><strong>Passo della Futa - San Piero a Sieve</strong></h3>
                                            <h4><strong>Lunghezza:</strong> 23.90 km</h4>
                                            <h4><strong>Dislivello:</strong> +722 m; -1156 m</h4>
                                            <h4><strong>Tempo:</strong> 7.50 ore</h4>
                                            <h4>Questa tappa è caratterizzata da discese dolci e panorami aperti. Il sentiero si snoda tra prati e boschi, passando per il pittoresco borgo di Sant'Agata, dove si può visitare la Pieve di Sant'Agata. Proseguendo, si arriva a San Piero a Sieve, un centro vivace con numerosi servizi e punti di ristoro. Questa tappa offre un mix perfetto di natura e cultura, con numerose opportunità per scoprire la storia e le tradizioni locali.</h4>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingFive">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                            Sezione 5: da San Piero a Sieve a Firenze
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                                    <div class="panel-body">
                                        <div class='panel-pic'>
                                            <p>
                                            <h3><strong>San Piero a Sieve - Fiesole - Firenze</strong></h3>
                                            <h4><strong>Lunghezza:</strong> 33 km</h4>
                                            <h4><strong>Dislivello:</strong> +923 m; -1147 m</h4>
                                            <h4><strong>Tempo:</strong> 11 ore</h4>
                                            <h4>L'ultima tappa della Via degli Dei porta i camminatori da San Piero a Sieve fino al cuore di Firenze. Il percorso attraversa colline coperte di ulivi e vigneti, offrendo viste mozzafiato sulla campagna toscana. Si passa per Fiesole, una cittadina storica con rovine romane e un panorama unico su Firenze. L'arrivo a Firenze è spettacolare, con la possibilità di ammirare la città dall'alto prima di scendere nel centro storico, con il suo ricco patrimonio artistico e culturale.</h4>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- panel-group -->
                        <div class="booking-section">
                            <h2>Ti ha convinto? Prenota una struttura lungo il percorso!</h2>
                            <a href="/strutture" class="btn btn-primary">Prenota ora</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="banner-heading">
                        <h2>Mappa</h2>
                    </div>
                    <div id="map" class="map"></div>
                    <img src="/images/Via degli Dei mappa.jpg">
                </div>
            </div>
        </div>
    </section>
    <section class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-6">
                        <div class="footer-content">
                            <div class="footer-logo">
                                <img src="/images/logo.png" alt="" />
                            </div>
                            <div class="footer-text">
                                <p>
                                    Per qualsiasi problema contatta la nostra mail di supporto, o chiama il centro assistenza:
                                </p>
                            </div>
                            <div class="footer-address">
                                <ul>
                                    <li><i class="fa fa-map-marker" aria-hidden="true"></i> Università del Piemonte Orientale, Vercelli, Italia
                                    </li>

                                    <li>
                                        <i class="fa fa-phone" aria-hidden="true"></i> +(39) 112

                                    </li>
                                    <li>
                                        <i class="fa fa-envelope" aria-hidden="true"></i> 20051048@studenti.uniupo.it

                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/javascripts/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/javascripts/bootstrap.min.js"></script>
    <!-- Owl Stylesheets -->
    <script src="/javascripts/owl-carousel/owl.carousel.min.js"></script>
    <!-- Custom Script -->
    <script src="/javascripts/script.js"></script>
    <!-- Map Script -->
    <script src="/javascripts/map.js"></script>
</body>

</html>
