<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-6">
                    <div class="footer-content">
                        <div class="footer-logo">
                            <img src="/images/logo.png" alt="" />
                        </div>
                        <div class="footer-text">
                            <p>
                                Per qualsiasi problema contatta la nostra mail di supporto, o chiama il centro assistenza:
                            </p>
                        </div>
                        <div class="footer-address">
                            <ul>
                                <li><i class="fa fa-map-marker" aria-hidden="true"></i> Università del Piemonte Orientale, Vercelli, Italia</li>
                                <li><i class="fa fa-phone" aria-hidden="true"></i> +(39) 112</li>
                                <li><i class="fa fa-envelope" aria-hidden="true"></i> 20051048@studenti.uniupo.it</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
